set_io --warn-no-port CLK R9

set_io --warn-no-port LED_CLK F7
set_io --warn-no-port LED_DONE C8

set_io --warn-no-port drains[0] B11
set_io --warn-no-port drains[1] B10
set_io --warn-no-port drains[2] B9
set_io --warn-no-port drains[3] D8
set_io --warn-no-port drains[4] A11
set_io --warn-no-port drains[5] A10
set_io --warn-no-port drains[6] A9
set_io --warn-no-port drains[7] B8

set_io --warn-no-port leds[0] B4
set_io --warn-no-port leds[1] C3
set_io --warn-no-port leds[2] A2
set_io --warn-no-port leds[3] A5
set_io --warn-no-port leds[4] B5
set_io --warn-no-port leds[5] B3
set_io --warn-no-port leds[6] B6
set_io --warn-no-port leds[7] B7

