set_io --warn-no-port i_CLK R9

set_io --warn-no-port o_LED[0] F7
set_io --warn-no-port o_LED[1] C8
set_io --warn-no-port o_LED[2] K9

set_io --warn-no-port columns[0] B11
set_io --warn-no-port columns[1] B10
set_io --warn-no-port columns[2] B9
set_io --warn-no-port columns[3] D8
set_io --warn-no-port columns[4] A11
set_io --warn-no-port columns[5] A10
set_io --warn-no-port columns[6] A9
set_io --warn-no-port columns[7] B8

set_io --warn-no-port rows[0] B4
set_io --warn-no-port rows[1] C3
set_io --warn-no-port rows[2] A2
set_io --warn-no-port rows[3] A5
set_io --warn-no-port rows[5] B5
set_io --warn-no-port rows[6] B3
set_io --warn-no-port rows[7] B6
set_io --warn-no-port rows[8] B7

