set_io --warn-no-port i_CLK R9
set_io --warn-no-port o_LED[0] F7
set_io --warn-no-port o_LED[1] C8
set_io --warn-no-port o_LED[2] K9
set_io --warn-no-port rows[0] N6
set_io --warn-no-port rows[1] L7
set_io --warn-no-port rows[2] G5
set_io --warn-no-port rows[3] L9
set_io --warn-no-port rows[4] N7
set_io --warn-no-port rows[5] M8
set_io --warn-no-port rows[6] P9
set_io --warn-no-port rows[7] N9
set_io --warn-no-port columns[0] R10
set_io --warn-no-port columns[1] T11
set_io --warn-no-port columns[2] T14
set_io --warn-no-port columns[3] T15
set_io --warn-no-port columns[5] T9
set_io --warn-no-port columns[6] T10
set_io --warn-no-port columns[7] T13
set_io --warn-no-port columns[8] R14

